<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Mukta:300,400,700">
    <link href="~/shoppers/fonts/icomoon/style.css" rel="stylesheet" />

    <link rel="stylesheet" href="~/shoppers/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/shoppers/css/magnific-popup.css">
    <link rel="stylesheet" href="~/shoppers/css/jquery-ui.css">
    <link rel="stylesheet" href="~/shoppers/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/shoppers/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/shoppers/css/aos.css">
    <link rel="stylesheet" href="~/shoppers/css/style.css">

    @RenderSection("css", required: false)
</head>
<body>
    <div class="site-wrap">
        <header class="site-navbar" role="banner">
            <div class="site-navbar-top">
                <div class="container">
                    <div class="row align-items-center">

                        <div class="col-6 col-md-4 order-2 order-md-1 site-search-icon text-left">
                            <form action="" class="site-block-top-search">
                                <span class="icon icon-search2"></span>
                                <input type="text" class="form-control border-0" placeholder="Search">
                            </form>
                        </div>

                        <div class="col-12 mb-3 mb-md-0 col-md-4 order-1 order-md-2 text-center">
                            <div class="site-logo">
                                <a href="index.html" class="js-logo-clone">Shoppers</a>
                            </div>
                        </div>

                        <div class="col-6 col-md-4 order-3 order-md-3 text-right">
                            <div class="site-top-icons">
                                <ul>
                                    <li><a href="#"><span class="icon icon-person"></span></a></li>
                                    <li><a href="#"><span class="icon icon-heart-o"></span></a></li>
                                    <li>
                                        <a href="cart.html" class="site-cart">
                                            <span class="icon icon-shopping_cart"></span>
                                            <span class="count">2</span>
                                        </a>
                                    </li>
                                    <li class="d-inline-block d-md-none ml-md-0"><a href="#" class="site-menu-toggle js-menu-toggle"><span class="icon-menu"></span></a></li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <nav class="site-navigation text-right text-md-center" role="navigation">
                <div class="container">
                    <ul class="site-menu js-clone-nav d-none d-md-block">
                        <li class="has-children">
                            <a href="index.html">Home</a>
                            <ul class="dropdown">
                                <li><a href="#">Menu One</a></li>
                                <li><a href="#">Menu Two</a></li>
                                <li><a href="#">Menu Three</a></li>
                                <li class="has-children">
                                    <a href="#">Sub Menu</a>
                                    <ul class="dropdown">
                                        <li><a href="#">Menu One</a></li>
                                        <li><a href="#">Menu Two</a></li>
                                        <li><a href="#">Menu Three</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="has-children">
                            <a href="about.html">About</a>
                            <ul class="dropdown">
                                <li><a href="#">Menu One</a></li>
                                <li><a href="#">Menu Two</a></li>
                                <li><a href="#">Menu Three</a></li>
                            </ul>
                        </li>
                        <li class="active"><a href="shop.html">Shop</a></li>
                        <li><a href="#">Catalogue</a></li>
                        <li><a href="#">New Arrivals</a></li>
                        <li><a href="contact.html">Contact</a></li>
                    </ul>
                </div>
            </nav>
        </header>

        @RenderSection("breadcrum", required: false)

        <div class="site-section">
            <div class="container">
                @RenderBody()
            </div>
        </div>

        @await Html.PartialAsync("_FrontEndFooter")

    </div>


    <script src="~/shoppers/js/jquery-3.3.1.min.js"></script>
    <script src="~/shoppers/js/jquery-3.3.1.min.js"></script>
    <script src="~/shoppers/js/jquery-ui.js"></script>
    <script src="~/shoppers/js/popper.min.js"></script>
    <script src="~/shoppers/js/bootstrap.min.js"></script>
    <script src="~/shoppers/js/owl.carousel.min.js"></script>
    <script src="~/shoppers/js/jquery.magnific-popup.min.js"></script>
    <script src="~/shoppers/js/aos.js"></script>
    <script src="~/shoppers/js/main.js"></script>
</body>
</html>
