@model MyFinalProject.Models.LoginVM

@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_FrontEnd.cshtml";
}

<h1>Login</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Login" asp-route-ReturnUrl="@ViewBag.ReturnUrl">
            <div class="text-danger">@ViewBag.Loi</div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MaKh" class="control-label"></label>
                <input asp-for="MaKh" class="form-control" />
                <span asp-validation-for="MaKh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MatKhau" class="control-label"></label>
                <input asp-for="MatKhau" class="form-control" />
                <span asp-validation-for="MatKhau" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

